        body {
            font-family: 'Inter', sans-serif;
            background-color: #1a202c; /* Dark background */
            color: #e2e8f0; /* Light text */
        }
        .slider-image {
            width: 100%;
            height: 650px; /* Increased height for desktop */
            object-fit: cover; /* Ensures image covers the area */
            object-position: center;
            transition: opacity 0.5s ease-in-out;
        }
        @media (max-width: 768px) {
            .slider-image {
                height: 450px; /* Increased height for mobile */
            }
        }
        .typing-animation::after {
            content: '|';
            animation: blink-caret .75s infinite;
        }
        @keyframes blink-caret {
            from, to { border-color: transparent }
            50% { border-color: currentColor; }
        }
        /* Custom scrollbar for better aesthetics */
        ::-webkit-scrollbar {
            width: 8px;
        }
        ::-webkit-scrollbar-track {
            background: #2d3748;
        }
        ::-webkit-scrollbar-thumb {
            background: #4a5568;
            border-radius: 4px;
        }
        ::-webkit-scrollbar-thumb:hover {
            background: #6b7280;
        }

        /* Hide scrollbar for horizontally scrollable sections */
        .overflow-x-auto::-webkit-scrollbar {
            display: none; /* For Webkit browsers (Chrome, Safari, Edge) */
            width: 0; /* Ensure no width for vertical scrollbar */
            height: 0; /* Ensure no height for horizontal scrollbar */
        }
        .overflow-x-auto {
            -ms-overflow-style: none;  /* For IE and Edge */
            scrollbar-width: none;  /* For Firefox */
            cursor: grab; /* Indicate it's draggable */
        }
        .overflow-x-auto.active {
            cursor: grabbing; /* Indicate it's being dragged */
        }

        /* Mobile menu specific styles */
        .mobile-menu-hidden {
            display: none;
        }
        @media (max-width: 767px) {
            .mobile-menu-hidden {
                display: none;
            }
            .mobile-menu-visible {
                display: flex;
                flex-direction: column;
                width: 100%;
                text-align: center;
                margin-top: 1rem;
            }
            .mobile-menu-visible li {
                margin-bottom: 0.75rem;
            }
        }

        /* Active navigation link style */
        .nav-link.active {
            color: #818cf8; /* A lighter indigo for active state */
            font-weight: 600;
        }